/* Base */

body {
    padding: 0;
    margin: 0;
    overflow:hidden;


}

#why-us {
    
    min-width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow:hidden;
     display: flex;
        justify-content: center;
        align-items: center;

        height: 100vh;


    
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}



#why-us a {
    
 color: white;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    text-decoration: none;
    position: absolute;
     border-radius: 0;
    border: solid 1px #ffffff; 
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    

    

}

#why-us a:hover {
    color: #c1c1c1;
    border: solid 1px #c1c1c1;
}

#why-us a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  outline: 2px solid #fff;
  opacity: .2;
  transition: all .3s;
  animation: pulse 2s infinite alternate;
}



@keyframes pulse {
  0%{transform:scale(1);
  opacity: .2;}
  
  100%{transform:scale(1.1, 1.25);
  opacity: .5;}
}

.box.flex {
  display: flex;
  justify-content: center;
    align-items: center;
}

